@import '../variables.scss';

input {
    background-color: $color-input-background !important;
}

.p-inputtext:enabled:focus {
    border-color: $color-primary-hover !important;
}

.p-floatlabel:has(input:focus) label {
    color: $color-primary-dark !important;
}

.p-inputtext.ng-invalid.ng-dirty {
    border-color: #f87171 !important;
}

.p-inputnumber {
    width: 100% !important;
}

.p-inputnumber-input {
    width: 100% !important;
}

.p-inputgroupaddon {
    padding: 0 0.8rem !important;
}

.custom-placeholder {
    input::placeholder {
        color: #a6b3c5e8 !important;
    }
}

.field-label {
    font-size: var($text-size);
    color: $color-primary-dark;
    font-weight: 600;
}

.p-floatlabel label {
    color: rgba(0, 0, 0, 0.658) !important;
}

.p-floatlabel:has(.ng-invalid.ng-dirty) label {
    color: #dc2626 !important
}

.p-checkbox-checked .p-checkbox-box {
    border-color: $color-primary !important;
    background: $color-primary !important;
}


// profile inputs
//
.profil-readonly-input {
    background-color: rgba(199, 199, 199, 0.18) !important;
    cursor: default;
    border-color: $color-disabled-surface !important;
    color: #334155 !important;
}

.profil-disabled-input:disabled {
    opacity: 1 !important;
    color: #334155 !important;
    background-color: rgba(199, 199, 199, 0.18) !important;
    border-color: $color-disabled-surface !important;
}

.profil-readonly-input:enabled:focus {
    border-color: $color-disabled-surface !important;
}

.p-multiselect.p-disabled {    
    .p-chip {
        background-color: #b2c1d17a !important;
    }
}
//