::ng-deep {

    .p-password .p-password-info {
        display: none !important;
    }
    

    /* Personnaliser l'indicateur */
    .p-password-strength {
        margin-top: 0.5rem !important;
        height: 6px !important;
    }

    .password-strength-text {
        display: none !important;
    }
}