@import '../../../../../../styles/variables.scss';

::ng-deep {
    .settings-container {
        height: 100%;

        .title {
            margin-bottom: 0.5rem;
            align-items: center;

            i {
                color: $color-primary-darker;
            }
        }
    }
}