@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "primeicons/primeicons.css";
@import 'styles/variables.scss';
@import 'styles/themes-overriding/buttons.scss';
@import 'styles/themes-overriding/input.scss';
@import 'styles/themes-overriding/card.scss';
@import 'styles/themes-overriding/select.scss';
@import 'styles/themes-overriding//password.scss';
@import 'styles/themes-overriding/toast.scss';
@import 'styles/themes-overriding/menubar.scss';
@import 'styles/themes-overriding/divider.scss';
@import 'styles/themes-overriding/avatar.scss';
@import 'styles/themes-overriding/popover.scss';
@import 'styles/themes-overriding/scroller.scss';
@import 'styles/themes-overriding/notification.scss';
@import 'styles/themes-overriding/menu.scss';
@import 'styles/themes-overriding/tag.scss';
@import 'styles/themes-overriding/calendar.scss';


:root {
  /* Typographie */
  --font-family: 'Inter', sans-serif;

  /* Titres */
  --title-size: 24px;
  --subtitle-size: 18px;
  --text-size: 15px;
  --text-large-size: 17px;
  --small-text-size: 12px;
  --to-small-text-size: 11px;

  --text-weight: 300;    

  /* Primeng */
  --p-badge-primary-background: #00B4D8 !important;
  --p-menubar-item-focus-background: #94edffd8 !important; 
  --p-menubar-item-active-background: #98eeffd8 !important;
  --p-menubar-submenu-icon-color: $color-primary-dark !important;
  --p-menubar-submenu-icon-focus-color: $color-primary-dark !important;
}

/* Reset / base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: $color-text !important;
  font-weight: var(--text-weight) !important;
  font-family: var(--font-family);
  font-size: var(--text-size);
  height: 100%;
  line-height: 1.5;
}

/* Titres */
h1, h2, h3, h4, h5 {
  font-weight: 600;
}

h1 {
  font-size: var(--title-size);
}

h2 {
  font-size: var(--subtitle-size);
}

h3 {
  font-weight: normal;
  font-size: var(--text-large-size);
}

h4 {
  font-size: var(--text-size);
}

p {
  font-size: var(--text-size);
}

.ssmall-text {
  font-size: 14px;
}

.small-text {
  font-size: var(--small-text-size);
}

.to-small-text {
  font-size: var(--to-small-text-size);
}

/* Liens */
a {  
  color: $color-primary-dark;
  // text-decoration: none;
}

.p-button {   
  color: $color-surface;
  background: $color-primary;
}

.dark-title {
  color: $color-primary-dark !important;
}

.text-lg {
  font-size: var(--text-large-size) !important;
}

.red-text {
  color: $color-error;
}

.h-full {
  height: 100%;
}