<ng-container *ngIf="resetPwdPanel; else loginOrForgotTemplate">
  <p-card class="login-card">
    <div class="flex flex-column align-items-center justify-content-center mb-4 text-center">
      <h1 class="mb-3">{{'app.auth.reset-pwd.header' | translate}}</h1>
      <p style="white-space: normal; max-width: 400px; width: 100%; padding-bottom: 20px;">
        {{'app.auth.reset-pwd.description' | translate}}
      </p>
    </div>

    <form [formGroup]="formResetPwd" style="max-width: 400px; margin: auto;" (ngSubmit)="resetPassword()">
      <div class="form-group">
        <p-floatlabel variant="on">
          <p-password [toggleMask]="true" [feedback]="false" id="resetPassword" formControlName="resetPassword"
            class="w-full" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"></p-password>
          <label for="resetPassword">{{'app.auth.reset-pwd.form.password.label' | translate}}</label>
        </p-floatlabel>
        <div *ngIf="formResetPwd.controls['resetPassword'].invalid && formResetPwd.controls['resetPassword'].dirty"
          class="error">
          <ng-container *ngIf="formResetPwd.controls['resetPassword'] as epassword">
            <ng-container *ngIf="epassword.errors as errors">

              <small *ngIf="errors['required']">
                {{ 'app.auth.register.register-entreprise.form.pwd.errors.required' | translate }}
              </small>

              <small *ngIf="!errors['required'] && errors['tooShort']">
                {{ 'app.auth.register.register-entreprise.form.pwd.errors.short-pwd' | translate }}
              </small>

              <small *ngIf="!errors['required'] && !errors['tooShort'] && errors['weakPassword']">
                {{ 'app.auth.register.register-entreprise.form.pwd.errors.pwd-no-conform' | translate }}
              </small>

            </ng-container>
          </ng-container>
        </div>
      </div>
      <div class="form-group mt-3">
        <p-floatlabel variant="on">
          <p-password [toggleMask]="true" [feedback]="false" id="resetPasswordConfirmation"
            formControlName="resetPasswordConfirmation" class="w-full" [style]="{'width':'100%'}"
            [inputStyle]="{'width':'100%'}"></p-password>
          <label for="resetPasswordConfirmation">{{'app.auth.reset-pwd.form.password-confirmation.label' |
            translate}}</label>
        </p-floatlabel>
        <div
          *ngIf="formResetPwd.controls['resetPasswordConfirmation'].invalid && formResetPwd.controls['resetPasswordConfirmation'].dirty"
          class="error">
          <small>{{'app.auth.register.register-entreprise.form.pwd-confirmation.errors.required' |
            translate}}</small>
        </div>
        <div
          *ngIf="!formResetPwd.controls['resetPasswordConfirmation'].invalid && !matchPwd() && (formResetPwd.controls['resetPasswordConfirmation'].dirty || form.dirty)"
          class="warning">
          <small>{{'app.auth.register.register-entreprise.form.pwd-confirmation.errors.not-same' |
            translate}}</small>
        </div>
      </div>
      <button pButton (click)="goToLogin()" [type]="pwdReseted ? 'button':'submit'" label="{{ (pwdReseted ? 'app.auth.reset-pwd.button.navigate' : 'app.auth.reset-pwd.button.reset')| translate}}" 
        [icon]="pwdReseted ? 'pi pi-sign-in' : 'pi pi-refresh'"
        class="w-full mt-3"></button>
      <p-messages severity="success" *ngIf="pwdReseted">
        <ng-template pTemplate>
          <div class="ml-2 my-2">{{"app.auth.reset-pwd.messages.success.content" | translate}}</div>
        </ng-template>
      </p-messages>
    </form>
  </p-card>
</ng-container>


<ng-template #loginOrForgotTemplate>
  <p-card class="login-card" *ngIf="loginPanel else forgotPwdTemplate">
    <div class="flex justify-content-center mb-4">
      <h1>{{'app.auth.login.header' | translate}}</h1>
    </div>
    <form [formGroup]="form" (ngSubmit)="login()">
      <div class="form-group">
        <label for="email" [ngClass]="{'custom-input-text' : showErrors}">{{"app.auth.login.forms.ident.label" |
          translate}}</label>
        <input pInputText id="email" type="email" placeholder="{{'app.auth.login.forms.ident.placeholder' | translate}}"
          formControlName="email" class="w-full" [ngClass]="{'custom-input-border' : showErrors}" />
        <div *ngIf="form.controls['email'].invalid && form.controls['email'].dirty" class="error">
          <small
            *ngIf="form.controls['email'].errors?.['required']">{{'app.auth.login.forms.ident.errors.email-required'
            | translate}}</small>
          <small
            *ngIf="form.controls['email'].errors?.['customEmail']">{{'app.auth.login.forms.ident.errors.email-not-valid'
            |
            translate}}</small>
        </div>
      </div>

      <div class="form-group mt-3">
        <label for="password" [ngClass]="{'custom-input-text' : showErrors}">{{"app.auth.login.forms.pwd.label" |
          translate}}</label>
        <div class="flex">
          <input pInputText id="password" [type]="passwordVisible ? 'text' : 'password'"
            placeholder="{{'app.auth.login.forms.pwd.placeholder' | translate}}" formControlName="password"
            class="pwd-field w-full" [ngClass]="{'custom-input-border' : showErrors}" />
          <button type="button" pButton icon="pi" [icon]="passwordVisible ? 'pi pi-eye-slash' : 'pi pi-eye'"
            (click)="togglePasswordVisibility()" class="pwd-visibility"></button>
        </div>
        <div *ngIf="form.controls['password'].invalid && form.controls['password'].touched" class="error">
          <small>{{'app.auth.login.forms.pwd.errors.password-required' | translate}}</small>
        </div>
      </div>

      <p-messages severity="error" *ngIf="showErrors">
        <ng-template pTemplate>
          <div class="ml-2 mt-1">{{"app.auth.login.messages.bad-credentials" | translate}}</div>
        </ng-template>
      </p-messages>

      <div class="flex align-items-center mt-3 remember-me">
        <p-checkbox class="custom-checkbox" formControlName="remember" binary="true" class="mr-2"
          [dt]="tokensCheckboxPerso"></p-checkbox>
        <label for="remember" class="flex align-items-center">{{"app.auth.login.forms.remember-me" | translate}}</label>
      </div>

      <div class="text-right mt-3">
        <a (click)="toogleForgotPwd()"
          class="font-medium underline cursor-pointer text-blue-500">{{'app.auth.login.forms.forget-pwd' |
          translate}}</a>
      </div>



      <button pButton type="submit" label="{{'app.auth.login.button.label' | translate}}" icon="pi pi-sign-in"
        class="w-full mt-4"></button>
    </form>

    <div class="text-center mt-3">
      {{"app.auth.login.question.no-account" | translate}}
      {{"app.auth.login.question.register" | translate}}
      <a (click)="toogleToRegister()"
        class="font-medium underline cursor-pointer text-blue-500">{{"app.auth.login.question.ici" | translate}}</a>
    </div>
  </p-card>
</ng-template>

<ng-template #forgotPwdTemplate>
  <p-card class="login-card">
    <div class="flex flex-column align-items-center justify-content-center mb-4 text-center">
      <h1 class="mb-3">{{'app.auth.forgot-pwd.header' | translate}}</h1>
      <p style="white-space: normal; max-width: 400px; width: 100%; padding-bottom: 20px;">
        {{'app.auth.forgot-pwd.description' | translate}}
      </p>
    </div>

    <form [formGroup]="formPwdRecovery" style="max-width: 400px; margin: auto;" (ngSubmit)="recover()">
      <div class="form-group">
        <p-floatlabel variant="on">
          <input pInputText id="email" type="email" formControlName="email" class="w-full" />
          <label for="email">{{'app.auth.forgot-pwd.form.mail.label' | translate}}</label>
        </p-floatlabel>
        <div *ngIf="formPwdRecovery.controls['email'].invalid && formPwdRecovery.controls['email'].touched"
          class="error">
          <small
            *ngIf="formPwdRecovery.controls['email'].errors?.['required']">{{'app.auth.forgot-pwd.form.mail.errors.required'
            | translate}}</small>
          <small
            *ngIf="formPwdRecovery.controls['email'].errors?.['customEmail']">{{'app.auth.forgot-pwd.form.mail.errors.invalid'
            | translate}}</small>
        </div>
      </div>
      <button pButton type="submit" label="{{'app.auth.forgot-pwd.button.label' | translate}}" icon="pi pi-envelope"
        class="w-full mt-3"></button>
    </form>

    <div class="text-center mt-3">
      <a (click)="toogleForgotPwd()" class="underline cursor-pointer text-blue-500">{{'app.auth.forgot-pwd.href' |
        translate}}</a>
    </div>
  </p-card>
</ng-template>