::ng-deep {
    .content-1row {
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    white-space: nowrap;
    @supports (-webkit-line-clamp: 1) {
      overflow: hidden;
      text-overflow: ellipsis;
      overflow-wrap: break-word;
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  
    &.ws-pl {
      white-space: pre-line;
    }
  }
  
  .mask {
    position: absolute;
  }
  
  .content-2rows {
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    white-space: nowrap;
    @supports (-webkit-line-clamp: 2) {
      overflow: hidden;
      text-overflow: ellipsis;
      overflow-wrap: break-word;
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  
    &.ws-pl {
      white-space: pre-line;
    }
  }
  
  .p-tooltip.full-content {
    .p-tooltip-text {
      transform: translateX(-25%);
      width: max-content;
      max-width: 30rem;
    }
  }
  
}